---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Film Event Calendar"
  description="Stay up to date with film events, screenings, meetups, and workshops in Asheville, NC. Join the AVL Film community calendar."
  keywords="Asheville film events, AVL Film calendar, film screenings Asheville, filmmaker meetups, film workshops Asheville, NC film community"
>
  <h1>Event Calendar</h1>

  <p class="intro">Help us populate this with all the known film events in town! If you would like to be a collaborator on this calendar, contact us in the footer.</p>

  <div class="calendar-container">
    <iframe
      id="calendar-iframe"
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&showCalendars=0&mode=AGENDA&src=YXZsZmlsbWdyb3VwQGdtYWlsLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%230b8043">
    </iframe>
  </div>

  <style>
    .calendar-container {
      max-width: 100%;
      margin-top: 1.5rem;
    }

    #calendar-iframe {
      display: block;
      max-width: 100%;
      width: 800px;
      height: 600px;
      border: solid 1px #777;
      overflow: hidden;
    }

    @media (max-width: 768px) {
      #calendar-iframe {
        width: 100%;
        height: 600px;
      }
    }
  </style>
</BaseLayout>
