---
// Internal imports
import BaseLayout from '@layouts/BaseLayout.astro';
import StyleGuideSection from '@components/admin/StyleGuide.astro';
---

<BaseLayout title="Admin - Style Guide">
  <div class="admin-header">
    <h1>Style Guide</h1>
  </div>

  <StyleGuideSection />
</BaseLayout>
